.cursor-pointer {
  cursor: pointer;
}

.font- {
  &team,
  &number,
  &name,
  &score {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

.card.card-sm {
  --#{$prefix}card-spacer-y: #{$card-spacer-y * 0.5};
  --#{$prefix}card-spacer-x: #{$card-spacer-x * 0.5};
}

body {
  @include media-breakpoint-down(lg) {
    --#{$prefix}body-font-size: #{$font-size-base * 0.875};
  }
  .table-sm {
    // stylelint-disable-next-line selector-max-universal
    > :not(caption) > * > * {
      padding: $table-cell-padding-y-sm * 0.6 $table-cell-padding-x-sm * 0.6;
    }
  }
  .spinner-border-xs,
  .spinner-border-xs {
    --bs-spinner-width: #{$font-size-sm};
    --bs-spinner-height: #{$font-size-sm};
  }
}
.last-games {
  display: inline-flex;
  gap: map-get($spacers, 1);
  @include media-breakpoint-down(lg) {
    gap: map-get($spacers, 1) * 0.5;
  }
}
