.cursor-pointer {
  cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Bebas+Neue&display=swap');
h1,
h2 {
  font-family: 'Arvo', serif;
  font-weight: bold;
}
.jersey {
  &-team,
  &-number,
  &-name,
  &-score {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

.card.card-sm {
  --#{$prefix}card-spacer-y: #{$card-spacer-y * 0.5};
  --#{$prefix}card-spacer-x: #{$card-spacer-x * 0.5};
}

body {
  @include media-breakpoint-down(lg) {
    --#{$prefix}body-font-size: #{$font-size-base * 0.875};
  }
  .table-sm {
    // stylelint-disable-next-line selector-max-universal
    > :not(caption) > * > * {
      padding: $table-cell-padding-y-sm * 0.5 $table-cell-padding-x-sm * 0.5;
    }
  }
}
.last-games {
  display: inline-flex;
  gap: map-get($spacers, 1);
  @include media-breakpoint-down(lg) {
    gap: map-get($spacers, 1) * 0.5;
  }
}
