.game-details {
    .result {
      display: grid;
      grid-template-columns: 1fr 40% 1fr;
      grid-template-rows: auto;
      .score { display: none; }
      grid-template-areas:
          "t0logo gdetails t1logo"
          "t0name gdetails t1name";
      &.-is-finished, &.-is-live {
        grid-template-columns: 1fr 20% 20% 1fr;
        grid-template-areas:
          "t0logo t0score t1score t1logo"
          "t0name t0score t1score t1name";
        .g.details { display: none; }
        .score { display: block; }
      }
      column-gap: 1rem;
      > * { border: solid #ccc 1px; }
      .name, .logo, .score {
        justify-items: center;
      }
      .t0.name {
        grid-area: t0name;
      }
      .t0.logo {
        grid-area: t0logo;
      }
      .t0.score {
        grid-area: t0score;
      }
      .t1.name {
        grid-area: t1name;
      }
      .t1.logo {
        grid-area: t1logo;
      }
      .t1.score {
        grid-area: t1score;
      }
      .g.details {
        grid-area: gdetails;
      }
    }
  }