.cursor-pointer {
  cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&display=swap');
.jersey {
  &-team,
  &-number,
  &-name,
  &-score {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

.card.card-sm {
  --#{$prefix}card-spacer-y: #{$card-spacer-y * 0.5};
  --#{$prefix}card-spacer-x: #{$card-spacer-x * 0.5};
}

.table-xs {
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    padding: $table-cell-padding-y-sm * 0.5 $table-cell-padding-x-sm * 0.5;
  }
}

